footer
  .container
    .row
      ul.list-unstyled.text-right
        li.col-sm-4.col-xs-6
          a(href='#') About
        |             
        li.col-sm-4.col-xs-6
          a(href='#') Services
        |             
        li.col-sm-4.col-xs-6
          a(href='#') Studies
        |             
        li.col-sm-4.col-xs-6
          a(href='#') References
        |             
        li.col-sm-4.col-xs-6
          a(href='#') Login
        |            
        li.col-sm-4.col-xs-6
          a(href='#') Press
        |             
        li.col-sm-4.col-xs-6
          a(href='#') Contact
        |             
        li.col-sm-4.col-xs-6
          a(href='#') Impressum