meta(name='HandheldFriendly' content='True')
meta(name='MobileOptimized' content='320')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

base(href="/")

// CDN provided
link(rel="stylesheet" href="/css/app.css" type="text/css")
link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css")
link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css")

//build:css /dist/style.css
link(rel="stylesheet" href="/lib/angular-material/angular-material.css" type="text/css")


// build:js /dist/lib.js
script(type="text/javascript" src="/lib/lodash/lodash.js")
script(type="text/javascript" src="/lib/moment/moment.js")
script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/showdown/src/showdown.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-animate/angular-animate.js")
script(type="text/javascript" src="/lib/angular-aria/angular-aria.js")
script(type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js")
script(type="text/javascript" src="/lib/angular-cookies/angular-cookies.js")
script(type="text/javascript" src="/lib/angular-material/angular-material.js")
script(type="text/javascript" src="/lib/angular-moment/angular-moment.js")
script(type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js")
script(type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.js")
script(type="text/javascript" src="/lib/angular-markdown-directive/markdown.js")
script(type="text/javascript" src="/lib/firebase/firebase.js")
script(type="text/javascript" src="/lib/angularfire/dist/angularfire.js")
script(type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script(type="text/javascript" src="/lib/hammerjs/hammer.js")


//load main scripts

script(type="text/javascript" src="/js/index.js")